streamlit
altair
pandas
llama-index
seaborn
fastparquet
matplotlib
duckdb
openpyxl
llama-index-llms-groq
llama-index-vector-stores-duckdb
llama-index-embeddings-huggingface
sentence-transformers
numpy
beautifulsoup4
wordcloud
nltk
PyPDF2
